$fa-font-path: "../icons/fonts";

/** Fonts **/
$body-font      : 'Open Sans', sans-serif;
$font           : 'Open Sans', sans-serif;
$display-font   : 'Open Sans', sans-serif;
$header-font    : 'Comfortaa', cursive;


/** Colors **/
$white          : #fff;
$dark-gray      : #3f3f3f;
$light-gray     : #c9c9c9;
$blue           : #0F8BD0;
$dark-blue      : #086599;
$black          : #000000;
$orange         : #FF4E19;
$dark-orange    : #b12900;

$brand-primary  : $dark-gray;
$brand-secondary: $dark-gray;
$brand-tertiary : $dark-gray;
$body-color     : $dark-gray;

/** Font Sizing **/
$body-font-size     : 16px;
$body-line-height   : 1.75em;
$body-font-weight   : normal;
$body-padding       : 2.25em;
$body-margin        : $body-padding;
$display-font-size  : 40px;
$display-font-weight: normal;
$display-line-height: 1.2em;
