.buttons {
    font-size: 0;
    margin: 0 -10px 10px;
}

.button {
    position: relative;
    display: inline-block;
    margin: 0 10px 10px;
    line-height: 1;
    font-size: 18px;
    padding: 15px;
    text-transform: uppercase;
    color: $white;
    font-family: $header-font;
    box-shadow: 2px 2px 4px 0px rgba($black, .15);

    &.orange {
        background-color: $orange;

        &:hover {
            background-color: $dark-orange;
        }
    }

    &.blue {
        background-color: $blue;

        &:hover {
            background-color: $dark-blue;
        }
    }
}