.intro {
    text-align: center;
    margin: 60px 0 30px;

    h3 {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        margin: 0 0 20px;
    }
    p {
        font-size: 18px;
        line-height: 1.77;
        margin: 0 0 10px;
    }
}
.declaration {
    text-align: center;

    .bg-dark-blue {
        color: $white;
        padding: 40px 0;
    }
    h2 {
        margin-bottom: 40px;
    }
    .bg-dark-gray {
        color: $white;
        padding: 20px 0 10px;
        border-top: 3px solid $orange;

        p {
            font-weight: 700;
            margin: 0 0 20px;
        }
    }
}
.staff {
    padding: 60px 0 30px;

    h2 {
        text-align: center;
    }
    h3 {
        text-align: right;
        margin: 0 0 10px;
        font-weight: 700;
    }
    .staff-person {
        margin-bottom: 40px;
    }
    p {
        font-size: 18px;
        line-height: 1.77;
        margin: 0 0 10px;
    }
    .position {
        color: $blue;
        font-size: 14px;
        text-transform: uppercase;
    }
}
.gallery {
    margin: 60px 0 0;
    h2 {
        text-align: center;
        margin: 0 auto  30px;
    }
    .slider {
        .slide {
            cursor: pointer;
            height: 295px;
            margin: 0 15px;
        }
    }
}
@include media-breakpoint-down(sm) {
    .staff {
        .staff-person {
            max-width: 380px;
            margin: 0 auto 30px;
        }
        h3 {
            text-align: left;
        }
        p {
            font-size: 15px;
        }
    }
}
