#donate {

    .bcard {
        position: relative;
        text-align: center;
        background: $white;
        opacity: 0.75;
        max-width: 810px;
    
        .head {
            
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            padding-bottom: 20px;
            font-size: 40px;
            font-weight: 300;
            font-style: normal;
            line-height: 45px;
            color: $black;
        }

        .desc {
            display: inline-block;
            align-items: center;
            justify-content: center;
            width: 630px;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: $black;
        }
    }

    .container{
        margin-top: 60px;

        .left{
            text-align: end;
        }

        .half{
            margin-bottom: 60px;
            .text-black{
                text-align: center;
                color: $black;
                font-size: 18px;
                line-height: 32px;
                font-weight: normal;
            }
            .button.orange{
                &:hover{
                    text-decoration: none;
                }
            }
            .button.blue{
                &:hover{
                    text-decoration: none;
                }

            }
        }
    }

}

@include media-breakpoint-down(sm) {
    #donate {
        .buttons {
            .button {
                display: block;
                text-align: center;
            }
        }
    }
}
