#donate {

    .bcard {
        position: relative;
        text-align: center;
        background: $white;
        opacity: 0.75;
        max-width: 810px;
    
        .head {
            
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            padding-bottom: 20px;
            font-size: 40px;
            font-weight: 300;
            font-style: normal;
            line-height: 45px;
            color: $black;
        }

        .desc {
            display: inline-block;
            align-items: center;
            justify-content: center;
            width: 630px;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: $black;
        }
    }

    .container{
        margin-top: 60px;

        .left{
            text-align: end;
        }

        .half{
            margin-bottom: 60px;
            .text-black{
                text-align: center;
                color: $black;
                font-size: 18px;
                line-height: 32px;
                font-weight: normal;
            }
            .button.orange{
                background-color: $orange;
                color: $white;
                text-transform: uppercase;
                display: inline-block;
                flex-direction: column;
                text-align: center;
                width: 250px;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
                padding: 15px;
                letter-spacing: 0.045em;
                font-size: 18px;
                line-height: 20px;
                font-weight: normal;
            

                &:hover{
                    text-decoration: none;
                }

            }
            .button.blue{
                background-color: $blue;
                color: $white;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 250px;
                height: 50px;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
                padding: 15px;
                letter-spacing: 0.045em;
                font-size: 18px;
                line-height: 20px;
                font-weight: normal;
                
                a, a:link{
                    width: 219px;
                }

                &:hover{
                    text-decoration: none;
                }

            }
        }
    }

}
