.features {
    margin-bottom: 40px;

    img {
        max-width: 100%;
    }
    .image {
        position: relative;
        margin: 0 0 20px;

        h3 {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            padding: 20px;
            color: $white;
            font-weight: 700;
            line-height: 1.25;
            font-size: 24px;
            text-shadow: 2px 2px 0 rgba(0,0,0,.4);
            text-align: center;
        }
    }
    p {
        font-size: 16px;
        margin: 0 0 20px;
        line-height: 1.77;
    }
    .feature {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .buttons {
        margin-top: auto;
    }
}
.featured-content {
    height: 697px;
    position: relative;
    background-size: cover;
    background-position: center center;
    margin: 0 0 60px;

    .card {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%,0);
        width: 100%;
        max-width: 875px;
        margin: 0 auto;
        padding: 40px;
        text-align: center;
        background: rgba(255,255,255,.75);

        h3 {
            font-size: 30px;
            line-height: 1;
            font-weight: 300;
            margin: 0 0 30px;
        }
        h4 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1;
            margin: 0 0 20px;
        }
        p {
            font-size: 18px;
            line-height: 1.77;
            margin: 0 0 20px;
        }
    }
}
.donate {
    margin-bottom: 60px;

    h3 {
        font-weight: 300;
        font-size: 30px;
        line-height: 1.2;
        margin: 0 0 20px;
    }
    h4 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        margin: 0 0 20px;
    }
    .description {
        p {
            font-size: 18px;
            line-height: 1.77;
            margin: 0 0 20px;
        }
    }
}
@include media-breakpoint-down(sm) {
    .features {
        max-width: 350px;
        margin: 0 auto 30px;
        
        .feature + .feature {
            margin-top: 30px;
        }
    }
    .featured-content {
        .card {
            max-width: 90%;
            margin: 0 auto;
            padding: 15px;

            h3 {
                font-size: 24px;
                margin: 0 0 20px;
            }
            h4 {
                font-size: 18px;
            }
        }
    }
    .donate {
        img {
            margin: 0 0 30px;
        }
    }
}
