.button_group {
    margin-bottom: 30px;
    .buttons {
        &.align-buttons-left {
            margin: 15px -15px;
            display: flex;
            justify-content: center;

            a{
                font-size: 18px;
                line-height:20px;
                letter-spacing: 0.045em;
                text-transform: uppercase;
            }

            .button {
                display: inline-block;
                width: auto;
                margin: 0 15px;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .button {
            
            width: 100%;
            padding: 15px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
        }
        .button.orange{
            background-color: $orange;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
        }
        .button.blue{
            background-color: $blue;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
        }
    }
}
