.footer {
    padding: 60px 0;
    border-top: 3px solid $orange;
    background-color: $dark-gray;

    h3,
    p {
        color: $white;
    }

    .social {
        margin: 0 15px 0 -5px;
        font-size: 0;

        a {
            display: inline-block;
            font-size: 16px;
            width: 30px;
            line-height: 30px;
            background-color: $white;
            border-radius: 15px;
            text-align: center;
            margin: 0 5px;
            color: $dark-gray;

            &:hover {
                background-color: $blue;
                color: $white;
            }
        }
    }

    .copyright {
        text-transform: uppercase;
        margin-bottom: 0;
    }

    nav {
        ul {
            &:last-child {
                li {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            li {
                margin-bottom: 10px;

                a {
                    text-transform: uppercase;
                    color: $white;
                    text-align: center;
                    font-size: 18px;
                    line-height: 1.5;

                    &:hover {
                        color: $blue;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}