header {
    font-family: Comfortaa;
    font-style: normal;
    background: $white;
    border-bottom: 3px solid $orange;
    line-height: 1;

    .container {
        display: flex;
        justify-content: space-between;
    }

    a.brand {
        display: block;
        color: $blue;
        width: 270px;
        font-weight: 700;
        font-size: 0;

        img,
        span {
            display: inline-block;
        }
        span {
            font-size: 20px;
            position: relative;
            top: 17px;
            padding-left: 10px;
        }
        &:hover {
            span {
                color: $orange;
            }
        }
    }

    .nav-wrapper {
        width: calc(100% - 270px);
        font-size: 0;

        ul,
        .main {
            width: 100%;
            text-align: right;
        }

        .mm-trigger {
            display: none;
        }

        a, a:visited {
            color: $orange;
            font-size: 20px;
            line-height: 70px;

            &:hover {
                color: $blue;
                text-decoration: none;
            }
        }
        li {
            display: inline-block;
            text-align: right;
            padding: 0 0 0 40px;

            &:first-child {
                padding: 0;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .header {
        a.brand {
            width: 230px;
            line-height: 70px;
            height: 70px;

            span {
                font-size: 14px;
                line-height: 1;
                top: 13px;
            }
        }
        .nav-wrapper {
            position: relative;
            width: 70px;

            .main {
                display: none;
                position: absolute;
                top: 71px;
                right: 0;
                background: $white;
                width: 270px;
                border-bottom: 3px solid $orange;

                li {
                    display: block;
                    padding: 0;

                    a {
                        line-height: 1;
                        font-size: 16px;
                        padding: 10px 15px;

                        &:hover {
                            background: $orange;
                            color: $white;
                        }
                    }
                }
            }
            .mm-trigger {
                display: block;
                float: right;
                color: $blue;

                &:hover {
                    color: $white;
                    background: $blue;
                }
            }
        }
    }
}
