.hero {
    .hero-wrapper {
        height: 390px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        h1 {
            font-size: 40px;
            line-height: 1;
            margin: 0;
        }

        &.simple {
            height: 250px;

            h1 {
                display: inline-block;
                background: rgba(255,255,255,.75);
                padding: 25px 35px;
            }
        }

        &.expanded,
        &.hero-home {
            display: flex;
            align-items: center;
            justify-content: center;

            .hero-card {
                padding: 25px 35px;
                background: rgba(255,255,255,.75);
                width: 100%;
                max-width: 810px;
                text-align: center;

                > *:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
            h1 {
                margin: 0 0 20px;
            }
            p,
            li {
                font-family: $body-font;
                font-size: 18px;
                line-height: 1.77;
            }
            p {
                margin-bottom: 20px;
            }
            a {
                color: $blue;
                font-weight: 700;

                &:hover {
                    color: $orange;
                    text-decoration: none;
                }
            }
        }
        &.hero-home {
            height: 590px;
            margin-bottom: 60px;

            .hero-card {
                max-width: 900px;

                h2 {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 1;
                    margin: 0 0 20px;
                }
            }
            .buttons {
                a {
                    color: $white;
                    font-weight: 400;
                    margin-bottom: 0;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .hero {
        .hero-wrapper {
            h1 {
                font-size: 24px;
            }
            &.expanded,
            &.hero-home {
                .hero-card {
                    padding: 15px;
                    width: 90%;
                    max-width: 90%;
                }
                h1 {
                    margin-bottom: 10px;
                }
                .hero-card {
                    h2 {
                        font-size: 18px;
                    }
                }
                p {
                    margin-bottom: 10px;
                    font-size: 15px;
                    line-height: 1.5;
                }
                .buttons {
                    margin: 0;

                    .button {
                        display: block;
                        margin: 0;
                    }
                    .button + .button {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
