.three-column-block {
    margin-bottom: 30px;
    font-style: normal;
    font-family: $font;

    &.background-color {
        padding: 30px 0;
    }

    &.bottom-margin-off {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .img-fluid {
        height: 100%;   
        position: relative;
     }


    .title {
        font-family: $font;
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        color: $white;
        z-index: 999;
        top: 15px;
        left: 0;
        position: absolute;
        width: 100%;
        text-align: center;
    }

    .desc {
        font-size: 16px;
        font-family: $body-font;
    }

    .buttons {
        margin: 30px 0 0;

        .button {
            margin: 0;
            background-color: $orange;
            color: $white;
            padding: 15px;
            font-size: 18px;
            font-family: $font;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);



        &:hover {
            text-decoration: none;
        }
            
        }
    }

    img {
        margin-bottom: 20px;
    }
}

@include media-breakpoint-down(md) {
    .two-column-block,
    .three-column-block {
        .col-wrapper {
            margin-bottom: 30px;
        }
    }
}
