.two-column-block {
    margin-bottom: 30px;

    .col-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;

        &.middle {
            justify-content: center;
        }
        &.bottom {
            justify-content: flex-end;
        }
        &.left {
            text-align: left;
        }
        &.center {
            text-align: center;
        }
        &.right {
            text-align: right;
        }
        > *:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .title,
    .wysiwyg {
        width: 100%;
    }
    .wysiwyg {
        > *:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    .buttons {
        width: 100%;
        margin-top: auto;
    }
}

@include media-breakpoint-down(md) {
    .two-column-block,
    .three-column-block {
        margin-bottom: 0;

        .col-wrapper {
            margin-bottom: 30px;
        }
    }
}
