.video_block{
    .title{
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 36px;
        text-align: center;
        color: $black;
    }

    .video{
        display: flex;
        justify-content: center;
    }
    .video-container {
        
        height: 304px;
        width: 540px;
        margin-bottom: 66px;
        margin-top: 30px;
    }
}
